@{
    ViewData["Title"] = "Home";
}
    <main class="flex-shrink-0">
      <header class="bg-dark py-5 mt-5">
        <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 fw-bolder text-white mb-2">David Sleezer</h1>
                <p class="lead fw-normal text-white-50 mb-4">

                </p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                  <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#about-me">About Me</a>
                  <a class="btn btn-outline-light btn-lg px-4" href="resume.html">Get My Resume</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
              <img class="img-fluid rounded-3 my-5" src="assets/DavidSleezerVertical.jpg" alt="..." />
            </div>
          </div>
        </div>
      </header>
      <!-- Features section-->
      <section class="py-5 bg-dark my-10" id="about-me">
        <div class="container px-5 my-5">
          <div class="row gx-5 text-white">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">About Me</h2></div>
            <div class="col-lg-8">
              <div class="row gx-5">
                <p>
                  My name is David Sleezer and I am an aspiring full stack web developer. In my early 20's I had no idea
                  what I wanted to do so I went out and got a job at a retail store. Shortly after starting that I
                  decided that whatever I do, I need to make a career out of it so I focused on learning the business
                  and trying to advance. After many long days, and weeks that ran together my hard work paid off and
                  during my 6th year in retail became an Assistant Store Manager.
                </p>
                <p>
                  A few years later I met my wife and decided that I could no longer balance consistently working 60-80
                  hour work weeks and having a healthy home life so I began to look at more consistent work
                  environments. Through friends I found a job in Insurance Underwriting but it was a reset on my career.
                  I entered Underwriting with a renewed vigor knowing that I had to learn everything I could and push
                  myself in order to advance again. I got my first promotion 6 months after starting which was the
                  minimum time required. I continued to learn the new role and technical knowledge in order to continue
                  advancing and eventually was promoted to a Senior Underwriter.
                </p>
                <p>
                  Around the same time as this promotion it was announced that because of contract decisions, the Underwriting
                  department I worked in was going to be reassigned to other contracts in approximately a year. 
                  With this much notice I took my time to decide what I wanted to go going forward. Growing up I was not
                  the best student in school, I had attempted to go to college right out of high school but didn't know
                  what I wanted to do so didn't apply myself very well. Swapping from the retail field into a desk job
                  originally terrified me because I had spent so long always moving around and only sitting down at my
                  desk when I had to plan something or place merchandise orders and as soon as I could I would be back
                  on my feet. I learned quickly as an underwriter that I could focus on a task and be engaged whether it
                  was learning the requirements for different types of transactions, processing high volumes of
                  transactions, or helping customers through the documentation that needs to be submitted and I didn't
                  need to be moving around constantly to be engaged with what I was doing.
                </p>
                <p>
                  I have always enjoyed working with computers, from playing games with friends, building my own
                  computers, setting up servers for me and my friends to play on, to figuring out how to apply
                  modifications, but I had never learned how to write code on my own. I took this opportunity provided
                  by being able to prepare for almost a year and set myself up to focus on a course designed to teach a
                  working knowledge of Full Stack Web Development. I plan to use this to begin a new career utilizing
                  the ability to manage tasks that I learned in retail, the focus on details while not losing sight of
                  the big picture that I learned in underwriting, and the technical skills that I am currently learning
                  at Centriq.
                </p>
                <br />
                <p>If you would like more details, please see my resume page listed in the navigation bar above.</p>
                <br />
                <p>
                  If you would like to see some examples of the projects that I have completed while learning
                  development, check out my projects page.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>