@{
    ViewData["Title"] = "Links";
}
      <!-- Page Content-->
    <main class="flex-shrink-0">
      <section class="py-5" id="people">
        <div class="container px-5">
          <div class="row gx-5">
            <div class="col-xl-12">
              <div class="card border-0 h-100">
                <div class="card-body bg-dark p-4">
                  <div class="d-flex h-100 align-items-center justify-content-center">
                    <div class="text-center text-white">
                      <div class="h1 fw-bolder">Meet My Classmates</div>
                      <p class="text-white-50 mb-4">These are the people who learned to be developers with me.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- People Array -->
      <section class="py-5">
        <div class="container px-5">
          <div class="row gx-5">
            <!-- Individual Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 p-4 personal-card">
              <div class="image" style="background-image: url(/assets/Sarra.jpg);">

                <div class="info">
                  <h3 class="text-center text-white pb-0">Sarra Tavakoli</h3>
                  <hr>
                  <a href="https://www.linkedin.com/in/sarratavakoli/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl px-5"></i></a>
                 <a href="http://www.stavakoli.net" target="_blank">Visit Their Site</a>
                </div>
              </div>
            </div>
            <!-- Individual Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 p-4 personal-card">
              <div class="image" style="background-image: url(/assets/Josh.jpg);">

                <div class="info">
                  <h3 class="text-center text-white pb-0">Joshua Christian</h3>
                  <hr>
                  <a href="https://www.linkedin.com/in/joshua-christian-a260aaba/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl px-5"></i></a>
                 <a href="http://joshdchristian13.com/index.html" target="_blank">Visit Their Site</a>
                </div>
              </div>
            </div>
            <!-- Individual Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 p-4 personal-card">
              <div class="image" style="background-image: url(/assets/Derek.jpg);">

                <div class="info">
                  <h3 class="text-center text-white pb-0">Derek Holland</h3>
                  <hr>
                  <a href="http://www.linkedin.com/in/derek-holland09" target="_blank"><i class="fa-brands fa-linkedin fa-2xl px-5"></i></a>
                 <a href="www.derek-holland.com" target="_blank">Visit Their Site</a>
                </div>
              </div>
            </div>
            <!-- Individual Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 p-4 personal-card">
              <div class="image" style="background-image: url(/assets/Tanner.jpg);">

                <div class="info">
                  <h3 class="text-center text-white pb-0">Tanner Miller</h3>
                  <hr>
                  <a href="https://www.linkedin.com/in/tanner-miller-dev/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl px-5"></i></a>
                 <a href="http://www.tannermillerdev.com/" target="_blank">Visit Their Site</a>
                </div>
              </div>
            </div>
            <!-- Individual Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 p-4 personal-card">
              <div class="image" style="background-image: url(/assets/Lance.jpg);">

                <div class="info">
                  <h3 class="text-center text-white pb-0">Lance Johnson</h3>
                  <hr>
                  <a href="http://www.linkedin.com/in/lance-johnson-ljohpy" target="_blank"><i class="fa-brands fa-linkedin fa-2xl px-5"></i></a>
                 <a href="http://www.lance-johnson.com/" target="_blank">Visit Their Site</a>
                </div>
              </div>
            </div>
            <!-- Individual Card -->
            <div class="col-lg-4 col-md-6 col-sm-12 p-4 personal-card">
              <div class="image" style="background-image: url(/assets/Roan.jpg);">

                <div class="info">
                  <h3 class="text-center text-white pb-0">Roan Leffew</h3>
                  <hr>
                  <a href="https://www.linkedin.com/in/roan-leffew-2460b0238/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl px-5"></i></a>
                 <a href="http://www.rolecoded.com" target="_blank">Visit Their Site</a>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </section>
    </main>
