@{
    ViewData["Title"] = "Projects";
}

<!-- Page Content-->
<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">.Net Core MVC Final Project</div>
                                <p>
                                    My final project was a charity website for the annual Jared Coones Pumpkin Run. My entire class
                                    participated in completing this site in 4 days. My contribution to the project was the Home page
                                    including the controller and view offering full CRUD functionality for the administrators to
                                    keep the site updated each year.
                                </p>
                                <a class="text-decoration-none" href="https://github.com/dsleezer/PumpkinRun" target="_blank">
                                    Check it out here on GitHub
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                                <br />
                                <a class="text-decoration-none" href="https://pumpkinrunwalk.org/" target="_blank">
                                    Check it out live here
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <a class="col-lg-6 col-xl-7" href="https://pumpkinrunwalk.org/" target="_blank">
                            <div class="bg-featured-blog"
                                 style="background-image: url(/assets/PumpkinRunImage.JPG)">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-5 my-5">
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">C# Dungeon Application</div>
                                <p>
                                    This is my first C# console application. It is a Rogue-Like text based dungeon crawler utilizing complex objects in C# along with custom methods and logic to handle movement,
                                    combat, and character management. 
                                </p>
                                <a class="text-decoration-none" href="https://github.com/dsleezer/DungeonApplication" target="_blank">
                                    Check it out here
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <a class="col-lg-6 col-xl-7" href="https://github.com/dsleezer/DungeonApplication" target="_blank">
                            <div class="bg-featured-blog"
                                 style="background-image: url(/assets/DungeonAppImage.JPG)">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-5 my-5">
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">Store Front Website</div>
                                <p>
                                    This is an ASP.NET Core MVC storefront site backed up by a database for product and user management.
                                </p>
                                <a class="text-decoration-none" href="https://github.com/dsleezer/StoreFrontConnectedSql" target="_blank">
                                    Check it out here
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <a class="col-lg-6 col-xl-7" href="https://github.com/dsleezer/StoreFrontConnectedSql">
                            <div class="bg-featured-blog"
                                 style="background-image: url(/assets/StoreFront.JPG)">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-5 my-5">
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">ASP.NET Core API</div>
                                <p>
                                    This is an API created to control full CRUD functionality of data in my ToDo React Application.
                                </p>
                                <a class="text-decoration-none" href="https://github.com/dsleezer/ToDoAPI">
                                    Check it out here
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <a class="col-lg-6 col-xl-7" href="https://github.com/dsleezer/ToDoAPI">
                            <div class="bg-featured-blog"
                                 style="background-image: url(/assets/API.JPG)">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-5 my-5">
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">ToDo List</div>
                                <p>
                                    This project was built using React implementing my ASP.NET Core API from the prior project to add and remove tasks from the list along with filtering.
                                </p>
                                <a class="text-decoration-none" href="https://github.com/dsleezer/ToDoReactApp">
                                    Check it out here
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <a class="col-lg-6 col-xl-7" href="https://github.com/dsleezer/ToDoReactApp">
                            <div class="bg-featured-blog"
                                 style="background-image: url(/assets/ToDoApp.JPG)">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
