@{
    ViewData["Title"] = "Resume";
}
<!-- Page Content-->
<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-xl-8">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder bg-dark mb-0 p-3 text-white">Qualifications</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <!-- ITEM 1 -->
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Development Skills
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse show"
                                 id="collapseOne"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Front End Development</strong>
                                    <p>HTML5, JavaScript, JQuery, CSS3, Responsive Development, Bootstrap, ReactJS</p>
                                    <strong>Middle Tier Development</strong>
                                    <p>C#, .NET Core MVC, LINQ, EF, Razor Pages</p>
                                    <strong>Back End Development</strong>
                                    <p>ADO.NET, SQL, SQL Server, SSMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- ITEM 2 -->
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Education and Training
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse"
                                 id="collapseTwo"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>CENTRIQ Training - Full-Stack Web Development Program</strong>
                                    <p>
                                        In this course I learned the basics of web devolopment to design this site along with the other
                                        items listed on my projects page. This course gave me the foundational skills needed in order to
                                        become proficient with
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- ITEM 3 -->
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Other Skills
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse"
                                 id="collapseThree"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Organization</strong>
                                    <p>
                                        Through years of working with assigned work queues and planning and assigning work to others I
                                        have learned to keep myself organized and keep track of current tasks along with upcoming tasks.
                                    </p>
                                    <strong>Teamwork</strong>
                                    <p>
                                        Between Boyscouts, volunteering, working in retail, and working as an Underwriter I have worked
                                        effectively with teams both professionally and in my personal time. Through my experience I have
                                        learned when to step up, and when to follow, as well as what I can do to ensure that my team
                                        will succeed.
                                    </p>
                                    <strong> Attention to Detail</strong>
                                    <p>
                                        As an Underwriter I was required to review detailed legal documentation along with photographs
                                        and other submissions to look for key components in order to validate requests and modify rates
                                        on policies. Minor differences such as a policy being labeled as having a certain foundation
                                        type but when the photos are received, the foundation type doesn't appear to be the same, it
                                        would mean a major financial impact for the individual taking out the policy. Eventually I was
                                        given the responsibility of overseeing policies that required multiple layers of review due to
                                        my ability to identify minor differences.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FAQ Accordion 2-->
                    <h2 class="fw-bolder bg-dark p-3 mb-0 text-white">Work History</h2>
                    <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne2"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Torrent Technologies - Overland Park, KS - 2019-2022
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse show"
                                 id="collapseOne2"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Senior Underwriter</strong>
                                        <ul>
                                            <li>Specialized in reviewing Severe Repetitive Loss policies.</li>
                                            <li>Assisted insurance agents and policy holders with reviews of all policy types.</li>
                                            <li>Reviewed submitted documentation for accuracy and completion.</li>
                                            <li>Exceeded production goals consistently in self assigned work queues.</li>
                                            <li>Reviewed and issued new policies and rating based transactions.</li>
                                        </ul>
                                        <br />
                                        <strong>Other Positions Held</strong>
                                        <ul>
                                            <li>Underwriter</li>
                                            <li>Junior Underwriter</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo2"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Bed Bath and Beyond - Kansas City Area - 2010-2018
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse"
                                 id="collapseTwo2"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <strong>Assistant Store Manager</strong>
                                    <ul>
                                        <li>Assisted in development of new methods of restocking utilized throughout the company.</li>
                                        <li>Organized staff based on daily changes to store needs.</li>
                                        <li>Over-saw hiring and training of new associates for all store functions.</li>
                                        <li>Completed and administered annual reviews.</li>
                                        <li>Reduced inventory while maintaining sales through close assessment of past and predicted sales trends.</li>
                                        <li>Collaborated with other departments and stores to plan seasonal sales trends.</li>
                                        <li>Transferred between stores through various promotions.</li>
                                    </ul>
                                    <br />
                                    <strong>Other Positions Held</strong>
                                    <ul>
                                        <li>Department Manager with Keys</li>
                                        <li>Operations Department Manager</li>
                                        <li>Housewares Department Manager</li>
                                        <li>Customer Service Department Manager</li>
                                        <li>Department Lead</li>
                                        <li>Sales Associate</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree2"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Volunteer Work
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse"
                                 id="collapseThree2"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <strong>Rotary Youth Camp</strong>
                                    <br />
                                    <p>
                                        Volunteered with Boy Scouts of America to staff the Rotary Youth Camp
                                        Boy Scout week for multiple years. Staff is paired up with an individual
                                        with special needs for the week to go through a specialized Boy Scout Summer
                                        Camp. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card border-0 bg-dark mt-xl-5">
                        <div class="card-body p-4 py-lg-5">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="h6 fw-bolder text-muted">Want to know more?</div>
                                    <p class="text-muted mb-4">Download my resume</p>
                                    <a class="btn btn-primary btn-lg resume-button" href="/assets/Resume.pdf" download="DavidSleezerResume">Resume</a>
                                    <br />
                                    <a class="btn btn-primary btn-lg resume-button" href="@Url.Action("Contact", "Home")">Contact Me</a>
                                    <div class="h6 fw-bolder text-muted">Follow Me</div>
                                    <a class="fs-5 px-2 link-info" href="https://www.linkedin.com/in/david-sleezer/" target="_blank"><i class="bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



